@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;600;700&display=swap');
$font: 'Figtree', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1366px;
    margin:0 auto;
    background-color: white;
}
html {
    font-family: $font;
    color: white;
    scroll-behavior: smooth; //плавная прокрутка по сылке якорю
    background-color: grey;
}

.header {
    position: relative;

    .wrap-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;

        .logo {
            margin-left: 83px;
            margin-top: 33px;
            width: 13.2vw;
        }

        .nav {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 4.09vw;//56px;
            margin-right: 78px;
            margin-top: 30px;

            &_link {
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: white;
                letter-spacing: 4.5px;
                text-decoration: none;

                &--active {
                    color: #f84545;
                }
            }
        }
    }

    .wrap-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top:22vw;
        //top: 300px;

        .header_caption {
            text-transform: uppercase;
            font-size: calc(18px + 30 * (100vw / 1366));//3rem - 48px максимальное значение,  ;
            font-weight: 300;
            letter-spacing: 1.68vw;//23px;
        }

        .box{
            text-transform: uppercase;
            font-size: 48px;//16px * 3; //48px
            font-weight: 300;
            letter-spacing: 23px;
            color: blue;
        }

        .header_span {
            font-size: calc(16px + 8 * (100vw / 1366));
            text-transform: uppercase;
            font-weight: 700;
            color: #f84545;
            letter-spacing: 0.73vw;
            margin-top: 25px;
        }

        .arrow {
            display: block;
            
            &_img {
                display: block;
                position: absolute;
                transform: translate(-50%, 10vw);
                width: 6vw;
                height: 3.07vw;
                
            }
        }
    }

    &_img {
        max-width: 100%;
    }
}

.main {
    display: flex;
    flex-direction: column;
    background-color: white;
    .body {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "gourmet gourmet carhartt"
            "gourmet gourmet adidas"
            "tendeep palace nike";
        gap:45px;
        justify-content: center;
        background-color: white;
        padding-top: 5vw;
        padding-bottom: 5vw;
        margin: 0 auto;
        .box{
            position: relative;
            overflow: hidden;         
        }
        .box_photo{
            max-width: 100%;
        }
        .box_logo{
            position: absolute;
            left: 30px;
            top:50%;
        }
        
        .box_caption{
            font-size: calc(16px + (24 * 0.7 ) * (100vw / 1366));//40px;
            text-transform: uppercase;
            letter-spacing:calc(2px + 8 * (100vw/1366));
            position: absolute;
            left: 30px;
            bottom: calc(5px + 25 * (100vw/ 1366));
        }
        .box-1 {
            grid-area: gourmet;
            .box_logo{
                width: 25%;
            }
        }

        .box-2 {
            grid-area: carhartt;
            .box_logo{
                top:20%;
                width: 21%;
            }
        }

        .box-3 {
            grid-area: adidas;
            .box_logo{
                top:20%;
                width: 37%;
            }
        }

        .box-4 {
            grid-area: tendeep;
            .box_logo{
                width: 70%;
            }

        }

        .box-5 {
            grid-area: palace;
            .box_logo{
                width: 30%;
            }
        }

        .box-6 {
            grid-area: nike;
            .box_logo{
                width: 50%;
            }
        }
    }

    .instagram {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        width: 100%;

        .instagram_item{
            width:25%;
            height: 24.5vw;
            overflow: hidden;
            .instagram_img{
                max-width: 100%;
                
            }
        }
        .caption, .view{
            display: block;
            position: absolute;
            text-transform: uppercase;
            letter-spacing: calc(2px + 18 * (100vw/1366));
            transform: translate(-10%, -30%);
            top: 40%;
            left: 20%;
            font-size: 4.02vw;//55px;
            z-index: 3;
        }
        .view{
            transform: translate(-50%, -50%);
            top: 60%;
            left: 50%;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: calc(2px + 18 * (100vw/1366));
            color: #f84545;
            
        }
        .layer-opacity{
            width: 100%;
            height: 24.6vw * 2;
            position: absolute;
            opacity: 0.6;
            z-index: 2;
            background-color: black;
        }
    }
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    .menu-footer{
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        gap:calc(10px + 40 * (100vw/1366)) ;
        .menu-footer_item{
            list-style-type: none;
        }
        .link-footer{
            color:black;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 4px;
            text-decoration: none;
        }
    }
    .social{
        display: flex;
        flex-direction: row;
        margin-right: 50px;
        gap:30px;
        .social_img{
            height: 29px;
        }
    }
}
@media(min-width:1367px){
    .main .instagram .instagram_item{
        height:calc( 680px / 2 ) ;
    }
    .main .instagram .layer-opacity{
        height: 680px;
    }
    .header .wrap-column{
        transform: unset;
        top: 300px;
    }
}

@media(max-width:1000px){
    .header .wrap-row .nav{
        gap:3vw;
        margin-right: 50px;
    }
    .header .wrap-row .logo{
        margin-left: 50px;
    }
    .footer .menu-footer{
        gap:calc(5px + 20 * (100vw/1366)) ;
    }
}
@media(max-width:850px){
    .footer{
        height: auto;
    }
    .footer .menu-footer{
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .footer .social{
        flex-direction: column;
    }
}
@media(max-width:650px){
    .header .wrap-row .nav{
        flex-direction: column;
    }
    .header .wrap-row{
        align-items: start;
    }
    .header .wrap-column .arrow_img{
        transform: translate(45vw, 5vw);
    }
    .header .wrap-column{
        align-items: flex-start;
        left: 20px;
    }
    .header .wrap-column .header_caption{
        letter-spacing: 1vw;
    }
    .header .wrap-row .logo{
        margin-left:20px;
    }
}